.btn {
   position: absolute;
   z-index: 2;
   left: 30%;
   top: 50;
}
.nav {
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}
.nav a {
    padding: 25px 5px 5px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    transition: 0.3s;
}
.nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 70px;
}
@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}
